# Node.js dependencies
node_modules/

# Ignore Venv
venv

# macOS system files
.DS_Store

# Cache
*__pycache__*

# Optional build artifacts
dist/
build/

# Keep intentionally empty directories
!.gitkeep

# ignore test photos
*events/
*raw/
*comp/

# ignore user_config... HEY TONY make sure you don't have passwords in the main config while testing..
user_config.cfg